@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Secciones invisibles por defecto */
.section-fade {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Cuando entra al viewport */
.section-fade.visible {
  opacity: 1;
  transform: translateY(0);
}